@{
    ViewData["Title"] = "Excluir";
}
<div>
    <h1>Edição de contatos</h1>
</div>

<div class="alert-danger">
    <h1>Deseja deletar o contato XXXXX ?</h1>
</div>

<button type="submit" class="btn btn-primary">Confirmar</button>
<a class="btn btn-secondary" asp-controller="Contato" asp-action="Index" role="button">Não</a>