@{
    ViewData["Title"] = "Contatos";
}
<h1>Listagem de usuários</h1>

<a class="btn btn-primary" asp-controller="Contato" asp-action="Criar">Novo Contato</a>

<div class="text-center">

    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nome</th>
                <th scope="col">E-mail</th>
                <th scope="col">Telefone</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>mdo</td>
                <th>
                <div class="btn-group" role="group" aria-label="Basic example">
                    <a class="btn btn-primary" asp-controller="Contato" asp-action="Editar">Editar</a>
                    <a class="btn btn-danger" asp-controller="Contato" asp-action="Excluir">Excluir</a>                    
                </div>
                </th>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>fat</td>
                <th>
                <div class="btn-group" role="group" aria-label="Basic example">
                    <a class="btn btn-primary" asp-controller="Contato" asp-action="Editar">Editar</a>
                    <a class="btn btn-danger" asp-controller="Contato" asp-action="Excluir">Excluir</a>                  
                </div>
                </th>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>fat</td>
                <th>
                <div class="btn-group" role="group" aria-label="Basic example">
                    <a class="btn btn-primary" asp-controller="Contato" asp-action="Editar">Editar</a>
                    <a class="btn btn-danger" asp-controller="Contato" asp-action="Excluir">Excluir</a>                   
                </div>
                </th>
            </tr>
        </tbody>
    </table>
</div>
